#login {
    margin-top: 137px;
    padding: 50px 0;

    .form-login {
        h4 {
            font-family: "Poppins", sans-serif;
            color: #333;
            text-transform: none;
            margin-bottom: 10px;
        }

        h5 {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            color: #333;
            text-transform: none;
        }

        form {
            input {
                border-color: #ccc;
                border-radius: 0;
            }

            button {
                background: #004a80;
                border: 0;
                border-radius: 0;
                padding: 8px;
                width: 100%;

                &:hover {
                    background-color: #2b93d1;
                }
            }

            .forgot-password {
                color: #333;
                font-weight: 500;
                font-size: 14px;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .cadastre {
            h5 {
                a {
                    color: #333;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
